<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content class="app-page" edge-drag-threshold="100">
    <ion-nav-bar class="bar-mean">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-mean ion-navicon" data-menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="277">
    <ion-content>
      <ion-list>
        <ion-item menu-close="" ui-sref="app.dashboard">Hiring</ion-item>
        <ion-item menu-close="" ui-sref-active-eq="active-menu" ui-sref="app.dashboard">Dashboard</ion-item>
        <ion-item menu-close="" ui-sref="app.dashboard">Bootcamp</ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>