<ion-view class="app-page messenger" title="{{currentUser.name}}">
  <ion-content has-bouncing="true" class="messenger-chat-list">
    <ion-list class="dashboard-list chat-list">
      <ion-item class="self item chat-cont">
        <div class="msg self chat-item item">
          <span class="txt">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus animi blanditiis corporis cupiditate
          delectus deleniti deserunt dicta, dolore dolorum eum fugiat fugit harum illo ipsa labore laboriosam minima
          molestiae molestias numquam officia perferendis porro sequi sint tenetur totam veritatis voluptas! Atque
          commodi dicta error eveniet expedita in maxime officia quo.
          </span>
          <span class="time">-12:42PM</span>
        </div>
      </ion-item>
      <ion-item class="friend item chat-cont">
        <div class="msg friend chat-item item">
          <span class="txt">ok</span>
          <span class="time">-12:43PM</span>
        </div>
      </ion-item>
      <ion-item class="self item chat-cont">
        <div class="msg self chat-item item">
          <span class="txt">did you had the time to look at it?</span>
          <span class="time">-12:44PM</span>
        </div>
      </ion-item>
      <ion-item class="friend chat-cont">
        <div class="msg friend chat-item item">
          <span class="txt">
            No really, i just glanced over it. Looks promising though. Did you also try to manage the inventory as
            well as the stocks for that app?
          </span>
          <span class="time">-12:45PM</span>
        </div>
      </ion-item>
      <ion-item class="self item chat-cont">
        <div class="msg self chat-item item">
          <span class="txt">No i was busy the whole day, will look at it later</span>
          <span class="time">-12:46PM</span>
        </div>
      </ion-item>
      <ion-item class="friend chat-cont">
        <div class="msg friend chat-item item">
          <span class="txt">
            Ah okay, no problem.
          </span>
          <span class="time">-12:47PM</span>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>

  <div class="chatter item item-input-inset">
    <label class="item-input-wrapper">
      <!--<textarea placeholder="Type a msg here"></textarea>-->
      <input type="text" placeholder="Type a msg here" class="chatter-input"/>
    </label>
    <button class="button button-clear">
      Send
    </button>
  </div>
</ion-view>