
@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Thin-webfont.eot?v=2.0.1");
  src: url("../fonts/RobotoSlab-Thin-webfont.eot?v=2.0.1#iefix") format("embedded-opentype"),
  url("../fonts/RobotoSlab-Thin-webfont.ttf?v=2.0.1") format("truetype"),
  url("../fonts/RobotoSlab-Thin-webfont.woff?v=2.0.1") format("woff"),
  url("../fonts/RobotoSlab-Thin-webfont.woff") format("woff"),
  url("../fonts/RobotoSlab-Thin-webfont.svg?v=2.0.1#RobotoSlab") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Light-webfont.eot?v=2.0.1");
  src: url("../fonts/RobotoSlab-Light-webfont.eot?v=2.0.1#iefix") format("embedded-opentype"),
  url("../fonts/RobotoSlab-Light-webfont.ttf?v=2.0.1") format("truetype"),
  url("../fonts/RobotoSlab-Light-webfont.woff?v=2.0.1") format("woff"),
  url("../fonts/RobotoSlab-Light-webfont.woff") format("woff"),
  url("../fonts/RobotoSlab-Light-webfont.svg?v=2.0.1#RobotoSlab") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Regular-webfont.eot?v=2.0.1");
  src: url("../fonts/RobotoSlab-Regular-webfont.eot?v=2.0.1#iefix") format("embedded-opentype"),
  url("../fonts/RobotoSlab-Regular-webfont.ttf?v=2.0.1") format("truetype"),
  url("../fonts/RobotoSlab-Regular-webfont.woff?v=2.0.1") format("woff"),
  url("../fonts/RobotoSlab-Regular-webfont.woff") format("woff"),
  url("../fonts/RobotoSlab-Regular-webfont.svg?v=2.0.1#RobotoSlab") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlab-Bold-webfont.eot?v=2.0.1");
  src: url("../fonts/RobotoSlab-Bold-webfont.eot?v=2.0.1#iefix") format("embedded-opentype"),
  url("../fonts/RobotoSlab-Bold-webfont.ttf?v=2.0.1") format("truetype"),
  url("../fonts/RobotoSlab-Bold-webfont.woff?v=2.0.1") format("woff"),
  url("../fonts/RobotoSlab-Bold-webfont.woff") format("woff"),
  url("../fonts/RobotoSlab-Bold-webfont.svg?v=2.0.1#RobotoSlab") format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Roboto Slab", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
}
.mean-app-view { height: 100%; }
body.kbd-open > .mean-app-view { height: 50%; }

.ion-navicon:before {
  width: 14px;
  overflow: hidden;
}
.menu-open .menu-animated {
  transform: translate3d(180px, 0, 0) perspective( 900px ) rotateY(-45deg) scale(0.8) !important;
}
.menu-content {
  box-shadow: none;
}
.list .item {
  border: 0;
}
.menu .list .item-complex .item-content, .item-radio .item-content,
.menu .list .item,
.view,
.menu {
  background-color: #333;
}
.menu .list .item-complex .item-content, .item-radio .item-content,
.menu .list .item {
  color: #fff;
  font-weight: 300;
  font-size: 20px;
}

.menu .ionic-scroll > div.scroll {
  position: absolute;
  bottom: 0;
  top: 0;
  z-index: 9;
  margin: auto;
  width: 275px;
  height: 400px;
}

.active-menu > a {background-color: #222222 !important;}
.scroll-bar-v { width: 0;}

.bar.bar-mean {
  background-color: #fd3;
  color: #000;
}
.button-mean {color: #000;}
.dashboard-list > .list, .app-page {
  background-color: #eee;
}
.dashboard-item {
  width: 95%;
  font-family: 'Roboto Slab';
  margin: 0 auto;
  font-size: 1.5em;
  line-height: 1em;
  border-style: solid !important;
  border-top-width: 0 !important;
  border-right-width: 0 !important;
  border-bottom-width: 0 !important;
  border-left-width: 3px !important;
  border-color: #333;
  border-radius: 0 3px 3px 0;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.dashboard-item.no-pad { padding: 0;}
.dashboard-item:nth-child(1) { margin-top: 10px;}
.dashboard-item .time {
  font-size: 0.6em;
  font-style: italic;
}

.dashboard-item.cal {border-color: darkgreen;}
.dashboard-item.meet {border-color: dodgerblue;}
.dashboard-item.standup {border-color: orangered;}

.dashboard-item.cal paper-ripple { color: darkgreen; }
.dashboard-item.meet paper-ripple { color: dodgerblue; }
.dashboard-item.standup paper-ripple { color: orangered; }

/* Messenger */
.chatter {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.messenger-chat-list {
  height: calc(100% - 94px);
}
.chat-list > .list > .item {
  background-color: #eee; padding: 5px 10px;
  margin-bottom: 10px;
}
.chat-list .list {position: relative;}
.chat-list .chat-item {
  font-size: 1em;
  margin: 0;
  background-color: #fff;
  max-width: 60%;
  padding: 10px;
  width: auto;
  min-width: 20%;
  border-radius: 5px;
  border: 0;
  word-break: break-word;
  white-space: normal;
  font-weight: 300;
  line-height: 1.3em;
}
.chat-list .chat-item.friend {
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1);
  border-top: 2px solid #fb0;
}
.chat-list .chat-item.self {
  background-color: #ddd;
  border-bottom: 2px solid #bbb;
}
.chat-list .chat-cont.item:after, .chat-list .chat-cont.item:before {
  content: " ";
  width: 0;
  position: absolute;
  z-index: 2;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

}
.chat-list .chat-cont.item.self:after {
  border-top: 5px solid #bbb;
  right: 20px;
  bottom: 0;
}
.chat-list .chat-cont.item.friend:before {
  border-bottom: 5px solid #fb0;
  left: 20px;
  top: 0;
}
.chat-list .chat-item.self {float: right;}
.chat-list .chat-item.friend {float: left;}
.chat-list .chat-item .time {
  font-size: 0.6em;
  color: #888;
}
.chatter .chatter-input {
  height: 40px !important;
  font-family: 'Roboto Slab', serif;
}
/*.messenger > .scroll-content > .scroll { height: 100%; }*/
/*.chat-list, .chat-list > .list {height: calc(100% - 50px);}*/